body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 30px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin-top: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.contenedor-imagenes {
    display: flex;
  }
  
  .contenedor-imagenes img {
    width: 50%; /* Ajusta el ancho de las imágenes según tus necesidades */
    height: auto; /* Para mantener la proporción */
  }
  